.rcw-launcher {
  border: none !important;
}

.rcw-header {
  color: white !important;
  padding: 0 !important;
  margin: 0 !important;
  max-height: 100px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.rcw-title {
  padding-bottom: 0 !important;
}

.rcw-header > span {
  padding-bottom: 12px !important;
}

.rcw-message {
  font-family: Arial, sans-serif !important;
  font-size: 14px !important;
}

.rcw-message-text {
  background-color: #f1f1f1 !important;
  color: #333 !important;
}

.rcw-sender {
  display: flex !important;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
}

.rcw-picker-btn {
  display: none;
}

.rcw-new-message {
  flex: 1;
  padding: 10px;
  font-size: 14px;
}

.chatbox-container {
  position: relative;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
    left 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out !important;
  transform-origin: center;
}

.fullscreen-mode {
  position: fixed;
  top: 180px;
  right: -70px;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.fullscreen-mode .rcw-widget-container {
  position: static !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 0 !important;
}

.fullscreen-mode .rcw-header {
  background-color: #c23827 !important;
  color: white !important;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fullscreen-mode .rcw-messages-container {
  max-height: unset !important;
  height: calc(100vh - 350px);
}

.fullscreen-mode .rcw-launcher {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.fullscreen-mode .rcw-response .rcw-message-text {
  max-width: unset;
}

.fullscreen-mode .rcw-response {
  width: fit-content !important;
  max-width: 850px !important;
}

.fullscreen-mode .rcw-message-text {
  width: 100% !important;
}

.fullscreen-mode .rcw-conversation-container {
  overflow-y: auto;
}

.fullscreen-mode .rcw-new-message {
  padding: 10px !important;
  border-top: 1px solid #ddd !important;
}

.rcw-message-text {
  border-radius: 15px !important;
  padding: 10px 15px !important;
}

button {
  border: none;
  cursor: pointer;
}
